<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div class="title-create">
      <label for="post-title">Title</label> <br/>
      <input type="text" id="post-title" name="post-title" class="form-control title-create" />
    </div>
    <div class="post-content-create">
      <label for="post-content">Post Content</label> <br/>
      <textarea id="post-content" name="post-content" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary create">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <button class="btn btn-light edit-post"><a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a></button>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>