.logo {
  text-decoration: none;
  padding-left: 20px;
}

.login {
  padding-right: 20px;
  text-decoration: none;
}

.card {
  margin-top: 5px;
}

textarea {
  width: 1200px;
}

.forms {
  width: 700px;
  margin: 30px;
}

.login-form {
  float: right;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 10px;
  border: solid 1px gray;
  border-radius: 25px;
  padding: 10px;
}

.signup-form {
  float: left;
  width: 300px;
  height: 450px;
  position: relative;
  border: solid 1px gray;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.create {
  margin-top: 10px;
}

.title-create {
  width: 300px;
}

.post-content-create {
  width: 900px;
}

section {
  margin: 15px;
}

.comment-body {
  margin: 15px;
}

.post-content {
  margin: 15px;
}

.card {
  background-color: transparent !important;
  border: none !important;
}

li {
  list-style-type: none;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 5px;
}

li:nth-child(odd) {
  background: #097f8c;
}

li:nth-child(even) {
  background: lightblue;
}

.post-list {
  width: 1500px;
  margin: 0 auto;
}

.edit-post {
  margin-left: 15px;
}

.add-comment {
  margin-left: 15px;
}
